<div class="output-div">
  <%= @question %>
  <p><i>- You</i></p>
</div>

<br>

<div class="output-div output-div-yellow">
  <%= @answer %>
  <p><i>- Coach</i></p>
</div>

<br>

<%= link_to "Ask a new question", "/ask" %>
