<form action="answer" data-turbo="false" class="form-inline">
  <label for= "question">Ask your coach anything:</label>
  <div class="input-group mb-3">
    <input type="text" name="question" class="form-control" placeholder="Your question" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button type="submit" value="Ask!" class="btn btn-primary" type="button">Ask</button>
    </div>
  </div>
</form>
